---
const { text, link } = Astro.props;
---

<a href={link} class="btn center">{text}</a>

<style>
  .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--color-venice-blue);
    color: var(--color-white);

    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1rem;

    text-decoration: none;
    border-radius: 999px;
    transition: 0.2s ease;
  }

  .btn:hover {
    opacity: 0.85;
  }

  .dark {
    background-color: #1c2e40;
    color: white;
  }

  .pink {
    background-color: var(--color-pink);
    color: var(--color-venice-blue);
  }
</style>
