---
import Header from "./components/Header.astro";
import { Image } from "astro:assets";
// import placeholder from "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <Header titel="This is a Titel" text="This iss a text" />

    <section>
      <img src="" alt="" />
      <div>
        <h1></h1>
        <p></p>
        <a href=""></a>
      </div>
    </section>

    <style is:global>
      a {
        color: #fff;
      }

      .big {
        padding: 1 rem;
      }
    </style>
  </body>

  <footer></footer>
</html>
