---
import Header from "./components/Header.astro";
import { Image } from "astro:assets";
import Card from "./components/Bigcard.astro";
import "./styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="robots" content="noindex,nofollow" />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>Young Creatives Denmark</title>
  </head>

  <body>
    <Header titel="Young Creatives Denmark" text="Et trygt møde mellem unge kreativ og branchen" />

    <main>
      <section>
        <h2>Tage første skridt ind i branchen</h2>
        <p>Mød bureauer ansigt til ansigt, stil de spørgsmål du ikke tør stille online, og få en ærlig fornemmelse af branchen før du vælger retning.</p>
        <p>Små grupper. Ærlig dialog. Ingen pitch fra scene.</p>

        <div class="grid_3_column">
          <Card img="/Images/upcomingevent_result.webp" headline="Upcoming event - Ansigt til Ansigt med Marketsquare" text="Møde Marketsquare og få reele indsigt i bureauets arbejde. Afholdes hos reklame bureauet Marketsquare den 3/3/2026" />
          <Card img="/Images/Card2_result.webp" headline="Ansigt til Ansigt i samarbejde med TV2, The Barn & Matas" text="Møde ... og få reele indsigt i bureauets arbejde..." />
          <Card img="/Images/Card3_result.webp" headline="Ansigt til Ansigt i samarbejde med NORD DDB" text="Møde ... og få reele indsigt i bureauets arbejde..." />
        </div>
      </section>

      <!-- <section>
        <h2>Bureauer du kan komme i dialog med</h2>
        <p>Du ved hvem du taler med, og hvad de kan giv dig feedback på</p>
      </section>
    
      <section>
        <h2>Sådan forgår aftenen</h2>
        <ul>
          <li>Du sidder i små grupper</li>
          <li>Du taler direkte med kreative fra bureauet</li>
          <li>Du får konkret feedback på dit arbejde</li>
          <li>Du kan deltage, selvom du ikke har en portfolio</li>
        </ul>
    
        <div>
          <img src="" />
          <h3>Møde menneskerne bag YCDK:</h3>
          <p>Vi ved at at det kan føles grænseoverskridende at møde branchen. Derfor gøre vi det personligt.</p>
          <p>For at YCDK skal hænge sammen, er vi nødt til at have stærke mennekser bag os. Vi arbejder alle frivilligt og er med til at løfte vores univers til et nyt niveau.</p>
          <p>Lære os at kende her:</p>
        </div>
    
        <div>
          <img src="" />
          <h3>Du behøver ikke kende nogen</h3>
          <p>De fleste kommer alene. Mange er i tvivl. Det er helt normalt.</p>
          <p>Ansigt til ansigt er skabt til dig der er i starten af din kreative karriere, og gerne vil tættere på branchen uden at føle dig utilpas.</p>
          <p>Enten om du har været til en af vores events eller ej, er du mere end velkommen. Her får du et lille indblik i hvordan det foregå, og hvor sjovt vi har det.</p>
        </div>
      </section> -->

      <!-- <style is:global>
          a {
            color: #fff;
          }
    
          .big {
            padding: 1 rem;
          }
        </style> -->
    </main>

    <footer></footer>
  </body>
</html>
