* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header,
section {
  padding: 2rem;
}

header {
  background-image: url("/Images/Heroimage_result.webp");
  background-size: cover;
}

.grid_3_column {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
}

/* img {
  width: 100;
} */
