* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

header,
section {
  padding: 2rem;
}

header {
  background-image: url("/Images/Heroimage_result.webp");
  background-size: cover;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

.grid_3_column {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1rem;
}

.grid_2_column {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1rem;
}

@media screen and (width >= 768px) {
  .grid_3_column {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid_2_column {
    grid-template-columns: repeat(2, 1fr);
  }
}
